body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2 {
  color: #0775bb;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button[type="submit"] {
  margin-top: 30px;
}
.loader {
  height: 100vh;
}
svg[data-prefix="fas"] {
  color: #0775bb;
}
/*------ login form------ */
input.invalid {
  border-color: red;
}

/*------ movie cards------ */
.card {
  height: 100%;
}
.card-img--wrap {
  height: 60%;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: auto;
}
.invalid-feedback {
  display: block;
}
/*------ Hader------ */

.user-menu {
  list-style: none;
}
/*------ filters------ */

.filters .form-check-label {
  margin-left: 10px;
}

/*------ movie-page------ */
.movie-page_icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.movie-page_icon svg {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 40px !important;
  height: 40px !important;
  padding: 10px 0;
  border: 1px solid;
  border-radius: 50%;
}
.character {
  color: #fff;
  left: 15px;
  display: block;
  position: absolute;
  bottom: 0;
  background: #16181abd;
  width: calc(100% - 30px);
  padding: 5px 10px;
}
.characters-title {
  padding: 1rem;
}
.character-card:hover .character {
  background: rgba(6, 118, 186, 0.67);
  transition: all 0.4s ease;
}
.movie-page_icon:hover {
  background: #0775bb2b;
  transition: all 0.4s ease;
}
